.empty {
  height: 100%;
  flex: 1;
  border: 1px solid red;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph {
  border: 1px solid red;
  min-width: 400px;
  min-height: 500px;
  flex: 1;
}
