.empty {
  height: 100%;
  flex: 1;
  border: 1px solid red;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph {
  border: 1px solid red;
  /* min-width: 400px; */
  min-height: 500px;
  flex: 1;
}

.graphWrapper {
  border: 1px solid black;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.graphBottom {
  border: 1px solid blue;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  padding: 1rem;
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-style: italic;
}
